<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".carpoolProject"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarpoolProject"
        tools:targetApi="31">
        <activity
            android:name=".Driver.DriverManageRide"
            android:exported="false" />
        <activity
            android:name=".Driver.DriverCreateRide"
            android:exported="false" />
        <activity
            android:name=".Driver.DriverHistoryTracking"
            android:exported="false" />
        <activity
            android:name=".Driver.DriverSignUp"
            android:exported="false" />
        <activity
            android:name=".Driver.DriverMainPage"
            android:exported="false" />
        <activity
            android:name=".Driver.DriverLogin"
            android:exported="false" />
        <activity
            android:name=".Passenger.PassengerLogin"
            android:exported="false" />
        <activity
            android:name=".Driver.DriverProfileView"
            android:exported="false" />
        <activity
            android:name=".Passenger.PassengerProfileView"
            android:exported="false" />
        <activity
            android:name=".Passenger.PassengerSignUp"
            android:exported="false" />
        <activity
            android:name=".Passenger.PassengerHistoryTracking"
            android:exported="false" />
        <activity
            android:name=".Passenger.PassengerPayment"
            android:exported="false" />
        <activity
            android:name=".Passenger.BookRide"
            android:exported="false" />
        <activity
            android:name=".Passenger.PassengerMainPage"
            android:exported="false" />
        <activity
            android:name=".Start.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>